h1 {
    text-align: center;
    font-weight: bold;
    text-decoration:black underline ;
    letter-spacing: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
h2 {
    text-align: center;
    font-weight: bold;
    text-decoration: white underline ;
    letter-spacing: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p {
    text-align: right;
    font-size: 14px;
    line-height: 1.3;
    font-family: Verdana;
}
body {
    background-color: darkgray;

}